<!-- Toolbar -->
<div class="toolbar" role="banner">
  <h1><a routerLink="/">Logo</a></h1>
  <div class="spacer"></div>

  <button
    *ngIf="authService.isLoggedIn()"
    class="btn btn-link"
    (click)="goToDashBoard()"
    style="color: white; margin-right: 5px"
  >
    <i class="fas fa-columns"></i>Dashboard
  </button>

  <button
    *ngIf="authService.isLoggedIn()"
    class="btn btn-link"
    style="color: white"
    (click)="logout()"
  >
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
</div>

<section *ngIf="!authService.isLoggedIn()" class="at-login-form loginForm">
  <div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button (click)="login('ROLE_ADMIN')" class="btn-fb">
            Login as Admin User <i class="fas fa-user-shield"></i>
          </button>
          <br />
          <br />
          <div class="signup-or-separator">
            <span class="h6 signup-or-separator--text">or</span>
            <hr />
          </div>
          <button (click)="login('ROLE_USER')" class="btn-lgin">
            Login as a User <i class="fas fa-user"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
