header {
  background-color: #0c0246;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 6px -6px #0c0246;

  h1 {
    font-size: 20px;
    padding-top: 20px;

    a {
      color: #fff;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    li {
      font-size: 16px;
      cursor: pointer;

      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  header {
    padding: 0vw 3.846vw;

    h1 {
      font-size: 3.846vw;
      padding-top: 3.846vw;
    }

    ul {
      gap: 7.692vw;

      li {
        font-size: 3.077vw;

        a {
          font-weight: 500;
        }
      }
    }
  }
}