<h2>User List</h2>
<ul *ngFor="let user of users">
  <app-todo-child [name]="user.name"></app-todo-child>
  <div *ngIf="user.address === 'Ygn'">
    <p>Address: {{ user.address }}</p>
  </div>
  <div *ngIf="user.address === 'Mdy'">
    <p>Address: {{ user.address }}</p>
  </div>
</ul>

<h3>Pick a highlight color</h3>
<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>
<p [appHightlight]="color">Highlight me!</p>
