<div class="login-container">
  <form action="">
    <h2>Login Form</h2>
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
    <div class="form-footer">
      <p></p>
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
  </form>
</div>
