<div class="login-container">
  <form action="">
    <h2>Login Form</h2>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="joe@example.com" required />
      <mat-error
        *ngIf="getEmailError && getEmailError.invalid && getEmailError.touched"
        >Enter Your Email</mat-error
      >
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" required />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
    <div class="form-footer">
      <p></p>
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
  </form>
</div>
